.container--form {
  &__text {
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 500ms;
    border: 1px solid lightgrey;
    color:lightgrey;
    border-radius: 2px;

    &:focus, &:hover {
      border: 1px solid #FF5722;
      color:#FF5722;
      cursor: pointer;
    }
  }
  &__file {
    display: block;
    width: 250px;
    margin: 0 auto;
  }
  &__button {
    display: block;
    width: 250px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    padding: 15px;
    transition:500ms;
    background: transparent;
    border: 1px solid #FF5722;
    border-radius: 2px;
    color: #FF5722;
    &:hover {
      border: 1px solid transparent;
      color: white;
      background: #FF5722;
    }
    &:disabled {
      border: 1px solid lightgrey;
      color: white;
      cursor: not-allowed;
      background: lightgrey;
    }
  }
}
