.container--form__text {
  display: block;
  width: 250px;
  margin: 0 auto;
  padding: 20px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: 500ms;
  border: 1px solid lightgrey;
  color: lightgrey;
  border-radius: 2px; }
  .container--form__text:focus, .container--form__text:hover {
    border: 1px solid #FF5722;
    color: #FF5722;
    cursor: pointer; }

.container--form__file {
  display: block;
  width: 250px;
  margin: 0 auto; }

.container--form__button {
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  padding: 15px;
  transition: 500ms;
  background: transparent;
  border: 1px solid #FF5722;
  border-radius: 2px;
  color: #FF5722; }
  .container--form__button:hover {
    border: 1px solid transparent;
    color: white;
    background: #FF5722; }
  .container--form__button:disabled {
    border: 1px solid lightgrey;
    color: white;
    cursor: not-allowed;
    background: lightgrey; }
