.route {
  table {
    width: 100%;
    font-size:25px;
    thead {
      th {
        text-align: left;
        padding: 10px;
      }
    }
    tbody {
      td {
        padding: 10px;
      }
    }
  }
}
