.cards {
  width: 100%;
  margin: 0 auto;
  background: white;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  list-style: none;
  box-shadow: 0 0 10px lightgrey;
  position: relative;
  transition: 500ms;

  &:hover {
    box-shadow: 0 0 20px lightgrey;
  }
}
