.upload {
  box-shadow: 0px 0px 5px lightgrey;
  position: absolute;
  padding: 20px;
  border-radius: 2px;
  top: 0;
  left: 150px; }
  .upload .close--button {
    text-decoration: none;
    color: #FFA726;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 20px; }
