.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 10px;
  &--item {
    box-shadow: 0px 0px 3px lightgrey;
    text-align: center;
    padding: 10px;
    margin-top: 70px;
    border-radius: 3px;
    display: block;
    color: #FFA726;
    text-decoration: none;
  }
}
