* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Icon;
  src: url("assets/IcoMoon-Free.ttf") format('truetype');
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  width: 960px;
  margin: 0 auto;
  background: white;
  font-family: sans-serif;

  .container {
    width: 100%;
    color: #888888;

    .title {
      position: fixed;
      z-index: 10002;
      top: 20px;
      color: inherit;
      text-decoration: none;
      font-size: 25px;
    }

    &--view {
      margin-top:80px;
    }

    &--icon {
      font-family: Icon, sans-serif;

    }
  }
}
