.map {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 0 10px lightgrey;
  position: relative; }
  .map--line {
    stroke: #FFA726;
    filter: drop-shadow(-5px -5px 5px #FFA726); }
  .map .map--info {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1001;
    height: 100%;
    width: 30em;
    padding: 10px;
    box-shadow: 0 0 3px lightgrey;
    pointer-events: auto;
    color: inherit;
    text-decoration: none; }
  .map .leaflet-pane {
    pointer-events: none; }
  .map .leaflet-control {
    border: none;
    background: transparent; }
    .map .leaflet-control .leaflet-control-zoom-in,
    .map .leaflet-control .leaflet-control-zoom-out {
      margin: 5px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 0 2px lightgrey;
      background: rgba(255, 255, 255, 0.3); }
